ul #secQuestion {
    list-style-type: none;
    list-style: none;
}
li #liElement {
    list-style-type: none;
    list-style: none;
}
#secQuestion {
    list-style-type: none;
    list-style: none;
}
#liElement {
    list-style-type: none;
    list-style: none;
}